/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
h1,h2,h3,h4 {
    font-family: 'Roboto', sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

h4.card-title {
    text-align: center;
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 0px;
}

.carousel-indicators {
    cursor: pointer;
    bottom:-40px;
}

.carousel-inner {
    margin-bottom:35px;
 }

.carousel-indicators li {
    background: #CCC;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 1px;
}

.container-section {
    padding-top: 30px;  
}

.carousel-indicators .active {
    background: #AAA;
}

.light {
    color: #FFF;
}

.box-height {
    min-height:195px;
}

.breadcrumb {
    background-color: #212529;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #fff !important;
}

.breadcrumb-item,.breadcrumb-item:before {
    font-weight: 100;
    color: #fff !important;
}

a {
    color: #ccc;
    /* color: #CC4A14; */
}

a:hover, a:active {
    color: #ccc;
    /* color: #CC4A14; */
}