{{ define "main" }}
{{$pageTitle := .Title}}
<header>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href='{{ "/" | absURL }}'>IoT Landscape</a></li>
        {{ if .Section }}<li class="breadcrumb-item dropdown">
            <a class="dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ title .Title }}
            </a>
            <div class="dropdown-menu">
                {{ range where .Site.Pages "Section" .Section }}
                <a class="dropdown-item {{if eq $pageTitle .Title}}active{{end}}" href="{{.URL}}">{{.Title}}</a>
                {{end}}
            </div>
        </li>{{end}}
    </ol>
</header>
<div class="container container-section">
    <h1>{{ $pageTitle }} {{ if .Params.full}}<small>{{.Params.full}}</small>{{end}}</h1>
    <div class="row">
        {{ .Content }}
        <div class="col-sm-12 py-2">
            <div class="card h-100">
                <ul class="list-group list-group-flush">
                    {{ range .Data.Pages }}
                    <a href="{{.URL}}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100">
                            <h5 class="mb-1">{{.Title}}
                            {{if .Params.full}} <small>{{.Params.full}}</small>{{end}}</h5>
                        </div>
                        {{if .Description}}<p class="mb-1">{{.Description}}</p>{{end}}
                        {{if .Params.tags}}<small>{{delimit .Params.tags ", " }}</small>{{end}}
                    </a>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <h3 class="card-title">Share</h3>
                    <a class="btn btn-lg btn-primary" href='https://twitter.com/intent/tweet?hashtags={{ delimit (apply .Params.tags "urlize" ".") ","}}&text={{.Title | htmlEscape}}&url={{.URL | absURL | htmlUnescape}}'>
                        <i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a class="btn btn-lg btn-primary" href='https://www.facebook.com/sharer/sharer.php?{{ (querify "u" (.URL | absURL) ) | safeHTML }}'>
                        <i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="btn btn-lg btn-primary" href='https://plus.google.com/share?url={{ (.URL | absURL) | safeHTML }}'>
                        <i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ partial "footer" . }}
{{ end }}