{{ define "main" }}
{{$pageTitle := .Title}}
<header>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href='{{ "/" | absURL }}'>IoT Landscape</a></li>
        <li class="breadcrumb-item dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{range where .Site.Sections "Section" .Section }}{{ title  .Title }}{{end}}
            </a>
            <div class="dropdown-menu">
                {{ range where .Site.Pages "Section" .Section }}
                <a class="dropdown-item {{if eq $pageTitle .Title}}active{{end}}" href="{{.URL}}">{{.Title}}</a>
                {{end}}
            </div>
        </li>
        <li class="breadcrumb-item active">{{.Title}}</li>
    </ol>
</header>
<div class="container container-section">
    
    <h1>{{ $pageTitle }} {{ if .Params.full}}<small>{{.Params.full}}</small>{{end}}</h1>
    <div class="row">
        {{ .Content }}
        <div class="col-sm-4 py-2">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">Categories</h3>
                    <div class="tag-list">
                        <a href='{{ .Section | absURL }}'><span class="badge badge-light">{{range where .Site.Sections "Section" .Section }}{{ title  .Title }}{{end}}</span></a>
                        {{ range .Params.tags }}    
                            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><span class="badge badge-light">{{ title . }}</span></a>
                        {{ end }}  
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <h3 class="card-title">Share</h3>
                    <a class="btn btn-lg btn-primary" href='https://twitter.com/intent/tweet?hashtags={{ delimit (apply .Params.tags "urlize" ".") ","}}&text={{.Title | htmlEscape}}&url={{.URL | absURL | htmlUnescape}}'>
                        <i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a class="btn btn-lg btn-primary" href='https://www.facebook.com/sharer/sharer.php?{{ (querify "u" (.URL | absURL) ) | safeHTML }}'>
                        <i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="btn btn-lg btn-primary" href='https://plus.google.com/share?url={{ (.URL | absURL) | safeHTML }}'>
                        <i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        {{ partial "disqus" . }}
    </div>
</div>
{{ partial "footer" . }}
<script id="dsq-count-scr" src="//distributedfog.disqus.com/count.js" async></script>
{{ end }}