{{ $title := $.Scratch.Get "card-title" }}
<div class="card">
    <div class="card-body">
        <h4 class="card-title"><a href="{{ $title | absURL }}">{{$.Scratch.Get "card-title-pretty"}}</a></h4>
    </div>
    {{ $section := where .Data.Pages "Section" $title }}
    <div id="{{$title}}-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#{{$title}}-carousel" data-slide-to="0" class="active"></li>
            {{ range (seq (div (sub (len $section) 1) 4)) }}
                <li data-target="#{{$title}}-carousel" data-slide-to="{{ . }}"></li>
            {{ end }}
        </ol>
        <div class="carousel-inner box-height" role="listbox">
            <div class="carousel-item active">
                <div class="list-group list-group-flush">
                    {{ range $key, $value := $section }}
                        {{ if ne $key 0 }}
                            {{ if modBool $key 4}}
                                </div></div><div class="carousel-item"><div class="list-group list-group-flush">
                            {{ end }}
                        {{ end }}
                        <a href="{{ $value.URL }}" class="list-group-item list-group-item-action" {{ if $value.Params.full }}data-toggle="tooltip" title="{{ $value.Params.full }}"{{end}}>{{ $value.Title }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>