{{ define "main" }}
<!-- Begin page content -->
<nav class="navbar navbar-fixed-top"  role="navigation">
        <a class="navbar-brand page-scroll" href="#page-top"><span class="light">The</span> Internet of Things <span class="light"> Landscape</span></a>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                </ul>
            </div>
    </div>
</nav>
<div class="container-fluid container-main">
    <div class="card-columns">
        {{ .Content }}

        {{ partial "layer.html" "Application Layer" }}

        {{ $.Scratch.Set "card-title" "platform" }}
        {{ $.Scratch.Set "card-title-pretty" "Platforms" }}
        {{ partial "card.html" . }}

        {{ $.Scratch.Set "card-title" "fog-computing" }}
        {{ $.Scratch.Set "card-title-pretty" "Fog Computing" }}
        {{ partial "card.html" . }}

        {{ $.Scratch.Set "card-title" "decentralisation" }}
        {{ $.Scratch.Set "card-title-pretty" "Decentralisation" }}
        {{ partial "card.html" . }}

        {{ $.Scratch.Set "card-title" "app-protocol" }}
        {{ $.Scratch.Set "card-title-pretty" "App Protocols" }}
        {{ partial "card.html" . }}

        {{ partial "layer.html" "Processing Layer" }}

        {{ $.Scratch.Set "card-title" "middleware" }}
        {{ $.Scratch.Set "card-title-pretty" "Middleware" }}
        {{ partial "card.html" . }}

        {{ $.Scratch.Set "card-title" "storage" }}
        {{ $.Scratch.Set "card-title-pretty" "Storage" }}
        {{ partial "card.html" . }}

        {{ partial "layer.html" "Network Layer" }}

        {{ $.Scratch.Set "card-title" "gateway-network" }}
        {{ $.Scratch.Set "card-title-pretty" "Gateway Net" }}
        {{ partial "card.html" . }}

        {{ $.Scratch.Set "card-title" "sensor-network" }}
        {{ $.Scratch.Set "card-title-pretty" "Sensor Net" }}
        {{ partial "card.html" . }}

        {{ $.Scratch.Set "card-title" "security" }}
        {{ $.Scratch.Set "card-title-pretty" "Network Security" }}
        {{ partial "card.html" . }}

        {{ $.Scratch.Set "card-title" "discovery" }}
        {{ $.Scratch.Set "card-title-pretty" "Discovery" }}
        {{ partial "card.html" . }}

        {{ $.Scratch.Set "card-title" "things-directory" }}
        {{ $.Scratch.Set "card-title-pretty" "Things Dirs" }}
        {{ partial "card.html" . }}

        {{ partial "layer.html" "Perception Layer" }}

        {{ $.Scratch.Set "card-title" "sensor" }}
        {{ $.Scratch.Set "card-title-pretty" "Sensors" }}
        {{ partial "card.html" . }}

        {{ $.Scratch.Set "card-title" "actuator" }}
        {{ $.Scratch.Set "card-title-pretty" "Actuators" }}
        {{ partial "card.html" . }}

        {{ $.Scratch.Set "card-title" "os" }}
        {{ $.Scratch.Set "card-title-pretty" "Device OS" }}
        {{ partial "card.html" . }}

        {{ $.Scratch.Set "card-title" "tag" }}
        {{ $.Scratch.Set "card-title-pretty" "Tags" }}
        {{ partial "card.html" . }}

        {{ $.Scratch.Set "card-title" "kit" }}
        {{ $.Scratch.Set "card-title-pretty" "Maker/Kit" }}
        {{ partial "card.html" . }}

        {{ $.Scratch.Set "card-title" "power" }}
        {{ $.Scratch.Set "card-title-pretty" "Power" }}
        {{ partial "card.html" . }}

    </div>
</div>

{{ partial "footer" . }}
{{ end }}